Repository hmcts/ccpay-bulkscanning-app, pull requests merged in 2019-09, with the labels that each got.

#26 Integration&unit test
  build.gradle
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/bulkscanning/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/BulkScanPaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/exception/DcnNotExistsException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/PaymentDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/PaymentMetadataDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/enums/PaymentMethod.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/enums/PaymentStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/repository/EnvelopeCaseRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/request/BulkScanPaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/request/ExelaPaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/response/PaymentResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/BulkScanConsumerService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/BulkScanConsumerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/BulkScanningConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/BulkScanningUtils.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/validator/BulkScanControllerValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/functionaltest/PaymentControllerFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceTest.java
Labels: ns:ccpay-bulkscanning-api-pr-26

#39 Integration&unit test
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/exception/BulkScanningConsumerException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/exception/PaymentException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/BulkScanPaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/EnvelopeDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/PaymentDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/PaymentMetadataDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/StatusHistoryDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/dto/CaseDto.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/dto/EnvelopeDto.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/dto/StatusHistoryDto.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/response/SearchResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/BulkScanningConstants.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/BulkScanningUtils.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/validator/BulkScanControllerValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/functionaltest/PaymentControllerFunctionalTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/validator/BulkScanValidatorTest.java
Labels: ns:ccpay-bulkscanning-api-pr-39

#41 Aks migration from key vault
  charts/ccpay-bulkscanning-api/values.aat.template.yaml
  infrastructure/main.tf
Labels: ns:ccpay-bulkscanning-api-pr-41

#43 Aks migration from key vault
  Jenkinsfile_CNP
  src/main/resources/liquibase.properties
Labels: ns:ccpay-bulkscanning-api-pr-43

#63 PAY-2111: Search by CCD Issue fixed.
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceImpl.java
Labels: ns:ccpay-bulkscanning-api-pr-63

#70 Pay 2061 reconciliation report
  build.gradle
  config/pmd/ruleset.xml
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/BulkScanPaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/EnvelopeDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/PaymentDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/dto/PaymentDto.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/dto/ReportData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/entity/EnvelopePayment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/enums/EnvelopeSource.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/enums/ReportType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/repository/PaymentRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/BulkScanningUtils.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/DateUtil.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/ExcelGeneratorUtil.java
  src/main/resources/db/changelog/db.changelog-0.1.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanning/functionaltest/PaymentControllerFunctionalTest.java
Labels: ns:ccpay-bulkscanning-api-pr-70

#71 PAY-2061: Ability to generate report for Unprocessed payments
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/functionaltest/PaymentControllerFunctionalTest.java
Labels: ns:ccpay-bulkscanning-api-pr-71
