Repository hmcts/ccpay-bulkscanning-app, pull requests merged in 2019-11, with the labels that each got.

#133 Aks bulk scan
  charts/ccpay-bulkscanning-api/values.aat.template.yaml
  charts/ccpay-bulkscanning-api/values.preview.template.yaml
  charts/ccpay-bulkscanning-api/values.yaml
Labels: ns:ccpay-bulkscanning-api-pr-133

#141 adding new exela thumbprint for demo
  infrastructure/demo.tfvars
Labels: ns:ccpay-bulkscanning-api-pr-141

#142 Updating some files for helm upgrade
  Jenkinsfile_CNP
  charts/ccpay-bulkscanning-api/Chart.yaml
  charts/ccpay-bulkscanning-api/values.preview.template.yaml
Labels: ns:ccpay-bulkscanning-api-pr-142
