Repository hmcts/ccpay-bulkscanning-app, pull requests merged in 2019-10, with the labels that each got.

#85 Api gateway configs
  Jenkinsfile_CNP
  dependency-check-suppressions.xml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/template/api-policy.xml
  infrastructure/template/api.json
  infrastructure/variables.tf
Labels: ns:ccpay-bulkscanning-api-pr-85

#95 PAY-2111: Removed UserAuthorisation token from Bulkscan PUT API.
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
Labels: ns:ccpay-bulkscanning-api-pr-95

#101 adding new thumbprint for QA
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
Labels: ns:ccpay-bulkscanning-api-pr-101

#104 Pay-2273: search processed payments
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/BulkScanPaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/PaymentDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/dto/ReportDataDataLoss.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/dto/ReportDataUnprocessed.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/enums/EnvelopeSource.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/request/BulkScanPayment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/response/SearchResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/BulkScanningUtils.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/functionaltest/PaymentControllerFnTest.java
Labels: ns:ccpay-bulkscanning-api-pr-104

#109 Pay 2273 search processed payments
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/validator/BulkScanValidatorFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/config/security/AuthCheckerServiceAndAnonymousUserFilter.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/BulkScanPaymentRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/PaymentMetadataDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/request/BulkScanPayment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/request/BulkScanPaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/response/SearchResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/functionaltest/PaymentControllerFnTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceTest.java
Labels: ns:ccpay-bulkscanning-api-pr-109

#111 PAY-2268 : Configure App Insight.
  README.md
  build.gradle
  charts/ccpay-bulkscanning-api/values.yaml
  config/pmd/ruleset.xml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/functionalTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscanning/audit/AppInsightsAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/audit/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/mapper/PaymentMetadataDtoMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/model/request/BulkScanPayment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceImpl.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceTest.java
  src/test/resources/application-test.yaml
  web.config
Labels: ns:ccpay-bulkscanning-api-pr-111

#113 BulkScanning Changes
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/bulkscanning/utils/BulkScanningUtils.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/functionaltest/PaymentControllerFnTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanning/service/PaymentServiceTest.java
Labels: ns:ccpay-bulkscanning-api-pr-113
