Repository hmcts/ccpay-bulkscanning-app, pull requests merged in 2021-04, with the labels that each got.

#303 Serenity report functionality added to bulk scan api
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/validator/BulkScanValidatorFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-303

#314 jitpack and liquibase new version added
  build.gradle
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-314

#316 Cve 2021 29425 fix
  build.gradle
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-316

#310 Chart version upgraded to 3.4.5
  charts/ccpay-bulkscanning-api/Chart.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-310
