Repository hmcts/ccpay-bulkscanning-app, pull requests merged in 2023-12, with the labels that each got.

#522 PAY-6717: Update secrets to point to v15 and add/fix suppressions.
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/main.tf
  infrastructure/sdp.tf
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-bulkscanning-api-pr-522

#523 Pay 6599 refactor and improve FTs coverage
  build.gradle
  cve-resolution-strategy.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/config/BulkScanPaymentTestService.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/config/IdamApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/config/IdamService.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/controller/PaymentControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanning/validator/BulkScanValidatorFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-523

#524 PAY-6659 Decommission v11 database
  charts/ccpay-bulkscanning-api/Chart.yaml
  charts/ccpay-bulkscanning-api/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-bulkscanning-api-pr-524

#525 PAY-6756 owasp upgrade
  build.gradle
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-525
