Repository hmcts/ccpay-bulkscanning-app, pull requests merged in 2023-04, with the labels that each got.

#474 JSON Surpression
  audit.json
Labels: ns:fees-pay, prd:ccpay, no-changes, rel:ccpay-bulkscanning-api-pr-474

#475 removal of logging statements
  src/main/java/uk/gov/hmcts/reform/bulkscanning/controller/SearchController.java
  src/main/resources/application.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-475

#478 Suppression for cve with no fix available.
  config/owasp/suppressions.xml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-478

#479 PAY-5997: Updating to support new private dns entry.
  charts/ccpay-bulkscanning-api/Chart.yaml
  charts/ccpay-bulkscanning-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-bulkscanning-api-pr-479
