Repository hmcts/ccpay-bulkscanning-app, pull requests merged in 2024-05, with the labels that each got.

#538 PAY-7003: Remove old Exela certs
  .github/workflows/ci.yml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:fees-pay, prd:ccpay, aat/add-or-update, prod/add-or-update, rel:ccpay-bulkscanning-api-pr-538

#539 PAY-6184/PAY-6146: Fix CVE-2022-1471/CVE-2022-0839
  build.gradle
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanning/BulkScanningApiApplication.java
Labels: ns:fees-pay, prd:ccpay, aat/add-or-update, prod/add-or-update, rel:ccpay-bulkscanning-api-pr-539

#540 PAY-7124: Address High Vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:fees-pay, prd:ccpay, enable_keep_helm, do not merge, rel:ccpay-bulkscanning-api-pr-540

#541 PAY-7008: Updated Iron Mountain Certs
  build.gradle
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
Labels: ns:fees-pay, prd:ccpay, aat/add-or-update, prod/no-changes, rel:ccpay-bulkscanning-api-pr-541
